body{
    background-color: black;
}
.container{
    padding: 2em;
    display: flex;
    flex-direction: column;
    
}
.header{
    padding-top: 2em;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: brown;
}

.turn{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: goldenrod;
}
.board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
  }
  
.cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}


.bottom{
    display: flex;
    justify-content: space-between;
    
}

.names{
    padding-left: 8rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > #submit{
    margin-top: 1rem;
    background-color: rgb(2, 85, 34);
    color: aliceblue;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid rgb(255, 251, 251);
}

label{
    color: darkorange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

form > input{
    height: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.reset{
    height: 40px;
    width: 200px;
    margin-right: 10rem;
    background-color: rgb(123, 13, 13);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: antiquewhite;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    font-weight: 600;
}

.end-message {
    font-size: 2em;
    font-weight: bold;
}

.tie-message {
    color: red;
}

.win-message {
    color: green;
}
